@charset "utf-8";

.accordian li{
	float: left;
	list-style: circle;
	width: 160px;
    height：320px;
	transition: all 2s;
	position: relative;
	overflow: hidden;
	border-left: 2px solid rgba(255,255,255,.8);
	box-shadow: 10px 0px 20px rgba(0,0,0,0.8);
	/*margin-top: 50px;*/
}

.accordian ul:hover li{
	width:40px;
	-webkit-filter: grayscale(.8);
	filter: grayscale(.8);
}
/*控制图片大小*/
.psfq {
	height: 400px;
	width: 850px;
}

.accordian ul li:hover{
	width: 700px;
	-webkit-filter: grayscale(0) hue-rotate(300deg);
	filter: grayscale(0) hue-rotate(300deg);
}

.accordian li .image_title{
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: rgba(255,153,0,1);
	text-indent: 2em;
	line-height: 50px;
	bottom: 16px;
	left: -4px
}

.accordian a{
	color: rgb(255,255,255);
	text-decoration: inherit;
}
