div {
	border: medium solid #F93;
	padding: 10px;
	margin-top: 30px;
	margin-right: 60px;
	margin-bottom: 30px;
	margin-left: 60px;
}
.left {
	overflow: scroll;
	position: relative;
	height: auto;
	float: left;
	width: auto;
}
